* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: GoldenFit;
  box-sizing: border-box;
  text-decoration: none;
}

h1,
p,
li {
  color: white;
  list-style: none;
  text-wrap: wrap;
}

:root {
  --index: calc(1vw+1vh);
}

@font-face {
  font-family: GoldenFit;
  src: url(/Golden/HelveticaNeueBold.otf);
}

body {
  background-color: black;
}

.navbar {
  position: fixed;
  z-index: 9999;
  height: 15%;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: GoldenFit;
  font-weight: bold;
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  min-width: 90px;
}

.navbar .logo {
  margin-left: 5vw;
}

.logo_holder {
  width: 70%;
  height: auto;
  display: flex;
  max-width: 120px;
}

.navbar ul {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-right: 5vw;
}

.navbar li {
  margin: auto;
  margin: min(20px);
}

.navigation {
  color: aliceblue;
  margin-right: 0vw;
  cursor: pointer;
  transition: color 0.4s;
}

.navigation a {
  transition: color 0.4s;
}

.navigation a:hover {
  color: gold;
}

.content {
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.info {
  width: 50%;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  overflow-y: scroll;
  text-wrap: wrap;
  text-align: center;
  transition: transform 0.9s ease-in, opacity 0.6s linear;
  transform: translateX(-10%);
  opacity: 0;
}

.info-active {
  transform: translateX(0);
  opacity: 1;
}

.info::-webkit-scrollbar {
  visibility: hidden;
  height: 0;
  width: 0;
}

.div_with_brdr {
  width: 80%;

  display: flex;
  justify-content: start;
  gap: 5rem;
  align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.div_with_brdr ul {
  height: 100%;
  display: flex;
  padding: 2vh;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.contacts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_hero {
  width: 50%;
  height: 100vh;
  background-image: url(/Golden/img/yoga.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.6s ease-in;
}

.main_hero-active {
  opacity: 1;
}

.register {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.trainer {
  width: 80%;
  height: 6vh;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-bottom: 0.5px solid white;
  appearance: none;
  padding: 0 30px 0 15px;
  position: relative;
  left: 0.5%;
  transition: all 0.2s linear;
  font-size: 14px;
}

.iconc {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 0;
  width: 1%;
  position: relative;
  right: 5%;
  color: white;
}

.trainer:hover {
  background-color: rgb(67, 67, 67);
}

.regc {
  width: 80%;
  margin-left: 1%;
}

.reg_but {
  width: 100%;
  border: 1px solid white;
  border-bottom: 0.5px solid white;
  height: 6vh;
  padding: 0 30px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reg_but p {
  color: white;
  font-size: 14px;
}

.reg_but i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  height: 0;
  width: 1%;
  position: relative;
  right: 5%;
  color: white;
}
